In [1]:
import pandas as pd

In [3]:
df_1 = pd.read_parquet("~/temp/movie/dt=20210101")
df_2 = pd.read_parquet("~/temp/movie")

In [4]:
df_1.head(1)

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt
0,1,1,0,OLD,20192567,원더 우먼 1984,2020-12-23,274407080,51.4,41920830,18,3764838540,29884,2462,9,420870,1877,4329

In [5]:
df_2.head(1)

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,dt
0,1,1,0,OLD,20192567,원더 우먼 1984,2020-12-23,274407080,51.4,41920830,18,3764838540,29884,2462,9,420870,1877,4329,20210101